
.manager .col{
    margin-top: 20px;
}
.manager a{
    color:#fff
}
.manager a:hover{
    color:#fff
}
.page-item .page-link{
    color:#007bff
}
.searchData{
    width: 595pt;
    padding: 0 15px;
    margin: 0 auto 30px;
    border: 1px solid #ccc;
}
.nodata{
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
}