.subjectName{
    color: orangered;
}
.date{
    padding-bottom: 20px;
}
.below-nav {
    padding-top: 3rem;
}
.below-tab {
    padding-top: 2rem;
}
.headerLinks{
    color: white !important;
    padding-right: 30px;
}
.headerNames{
    color: lightcyan !important;
    font-size: small;
}
.headerWelcome{
    width: 400px;
    padding: 5px;
    border: 1px solid white;
    margin: 20px;
    color: white !important;
}
.badge{
    height: 17px;
    width: 100px;
    border-radius: 50%;
    background-color: green;
    margin:10px
}
.badgeText{
    font-size: small;
    color:white !important;
}
.tableHeader{
    color: darkred !important;
    border-bottom: 1px solid white;
}
.lectureTable{
    background-color: ghostwhite;
}
#controlled-tab-tab-lectures,#controlled-tab-tab-stats,#controlled-tab-tab-calendar{
    font-size:1.5rem ;
}
.headerLectureList{
    margin-bottom: 50px;
}
.Nav {
    font-size: 18px;
}
.FiltersList{
    border-right: 0.5px solid black;
}
.LogChart{
    padding-top: 0px;
}
.tab-label{
    font-size: 1.5rem;
    color:black !important;
}
.filtersOp{
    color:#17a2b8;
}
.filtersCourse{
    color:#007bff;
}
.alert{
    margin-top: 50px;
}
.courseTitle{
    color:red;
}
.buttonStudent{
    font-size:20px;
}
.confirm{
    font-size:20px;
    color:green;
    font-weight: bold;
}
.pastSubjectName{
    color: black;
}
.actionsAlarm, .actionsInfo{
    margin-top:0px;
}
#controlled-main-tab-tab-bookings, #controlled-main-tab-tab-attendance,#controlled-teacher-tab-tab-next-lectures, #controlled-teacher-tab-tab-past-lectures {

    font-size: large;
}