body,
html,
#root {
  width: 100%;
  height: 100%;
}
.Registry_warp {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.Registry_warp .form {
  width: 100%;
  height: auto;
  margin-top: 200px;
}
.Registry_warp .form .form_item {
  width: 100%;
  height: auto;
}
#Moutlined-basic /deep/ .MuiOutlinedInput-input {
  padding: 19.5px 65px !important;
}
 /deep/ .MuiSelect-select {
  width: 100%;
}
